@charset "UTF-8";
// 마지막 셀렉트
#quickFinder #selectWrap li button.active.select {background-color: red !important;}
// more : (디테일 디스크립션 유/무)
// #quickFinder .qna_wrap .qna_description .txt_box .disc_more_btn { display: none !important; }
#quickFinder .qna_wrap .qna_description .txt_box #leanMoreBtn { display: none !important; }
#quickFinder .qna_wrap .qna_description .txt_box #descMoreBtn { display: none !important; }
#quickFinder .qna_wrap .qna_description.more .txt_box #descMoreBtn { display: inline-block !important; }
// step1
#quickFinder.step01 .qna_wrap .qna_description .txt_box #descMoreBtn { display: none;}
#quickFinder.step02 .qna_wrap .qna_description .txt_box #descMoreBtn { display: none;}
// step3
#quickFinder.step03 #selectWrap ol { display: block !important; }
#quickFinder.step03 #selectWrap ol li { display: block; }
#quickFinder.step03 #selectWrap ol li div { display: flex !important;}
#quickFinder.step03 #selectWrap li p {font-size: 4.5vw !important; }
#quickFinder.step03 #selectWrap .caution_open_btn {display: block!important;}
// step4
#quickFinder.step03 .qna_wrap .qna_description .txt_box i,
#quickFinder.step04 .qna_wrap .qna_description .txt_box i,
#quickFinder.step05 .qna_wrap .qna_description .txt_box i,
#quickFinder.step06 .qna_wrap .qna_description .txt_box i,
#quickFinder.step07 .qna_wrap .qna_description .txt_box i { display: none !important; }


// 마크업, css 변경수정사항
/* 
	1. qna_description01 에 more 버튼 class 를 id descMoreBtn로 변경
	2. qna_description02 에 close 버튼 class 를 id detailCloseBtn 로 변경
	3. #descMoreBtn default 는 display:none; .more class가 있을때 inline-block 으로 변경
	4. step1, step2 의 more 버튼 display:none;
	5. step3,4,5,6,7 의 .txt_box 의 i 는 display:none;
	6. step7 의 close_btn class 를 result_btn 로 변경
	7. popup_step01, 03, 05, 07 공통 class 추가 popup_step
*/


#quickFinder {
	padding:vw(20) 0 0; background-image:url(../../images/common/bg_gradation.gif); display:none;
	@include backgroundSolt(0, 0, repeat-x);
	button:focus {outline: none;}
	
	.qna_wrap {
		padding:0 0 vw(20);
		.que_title {
			font-size:vw(56); line-height:vw(64); padding:vw(65) vw(40); text-align:center;
			@include displayFlexCenter;
			@include boxSizing;
		}
		
		.qna_description {
			padding:vw(85) vw(50) vw(45); display:none;
			strong {font-size:vw(34); color:#6b6b6b; font-weight:400; line-height:vw(40);}
			.txt_box {
				padding:vw(30) vw(35); border:2px solid #3b3b3b; margin:vw(15) 0 0; position:relative; background-color:#fafafa; text-align:right;
				@include borderRadius(vw(20));
				@include boxShadow(0 vw(5) vw(20) vw(-10) $black);
				p {color:#3b3b3b; font-size:vw(36); line-height:vw(42); font-weight:500; text-align:left;}
				.disc_more_btn {
					display:inline-block; font-size:vw(24); font-weight:$bold; color:#888; margin:vw(15) 0 0; padding:0 vw(30) 0 0; position:relative;
					&:after {
						width:vw(14); height:vw(14); display:block; content:""; position:absolute; right:0; top:vw(4);
						@include borderSet(vw(3), solid, #888);
						border-right-width:0; border-top-width:0;
						@include transform(translate(0, vw(-2)) rotate(-45deg));
					}
				}
			}
		}
		
		.qna_description02 {
			.txt_box {
				padding:vw(30) vw(35) !important;
				p {font-size:vw(32); line-height:vw(38); font-weight:400;}
				.disc_more_btn {
					&:after {
						@include transform(translate(0, vw(3)) rotate(135deg));
					}
				}
			}
		}
	}
	
	#qnaImgWrap {
		width:100%; height:vw(500);
		@include backgroundSoltC;
	}
	
	//하단 선택 버튼 영역
	#selectWrap {
		padding:vw(30) vw(45) vw(50);
		@include boxSizing;
		.caution_open_btn {display:none;}
		.select_tit {
			em {color:#b49759; font-size:vw(22); display:block;}
		}
	}
	
	//스텝별
	&.step01 {
		.qna_wrap {
			.qna_descriptionm {
				.txt_box {
					&:after {
						width:vw(77); height:vw(80); display:block; content:""; background-image:url(../../images/step01/txt_bubble_icon.png); position:absolute; bottom:vw(-80); left:vw(455);
						@include backgroundSoltC;
					}
				}
			}
		}
		#selectWrap {
			li {
				padding:vw(20) 0 0;
				&:first-child {padding:0;}
				&:nth-of-type(1) i {background-image:url(../../images/step01/btn_icon01.png);}
				&:nth-of-type(2) i {background-image:url(../../images/step01/btn_icon02.png);}
				&:nth-of-type(3) i {background-image:url(../../images/step01/btn_icon03.png);}
				&:nth-of-type(1) button.active i {background-image:url(../../images/step01/btn_icon01_on.png);}
				&:nth-of-type(2) button.active i {background-image:url(../../images/step01/btn_icon02_on.png);}
				&:nth-of-type(3) button.active i {background-image:url(../../images/step01/btn_icon03_on.png);}
				button {
					width:100%; padding:vw(25) vw(70) vw(25) vw(60); background-color:#f4f4f4; font-weight:500;
					@include borderSet(2px, solid, #ececec);
					@include borderRadius(3vw);
					@include displayFlexCenter(center, left);
					@include transition;
					&:hover,
					&:focus {border-color:#464646;}
					&.active {background-color:#464646; border-color:#464646; color:$white;}
				}
				i {
					width:vw(48); height:vw(44); display:block; margin:0 vw(10) 0 0;
					@include backgroundSoltC(0, 50%, no-repeat, auto 100%);
				}
				p {width:100%; text-align:center; font-size:vw(36);}
			}
		}
	}
	
	&.step02 {
		.qna_wrap {
			.qna_description {
				.txt_box {
					padding:vw(30) vw(35) vw(30) vw(155);
					@include backgroundSoltC(vw(25), 45%, no-repeat, vw(110) vw(110));
					&:after {
						width:vw(56); height:vw(40); display:block; content:""; background-image:url(../../images/step02/txt_bubble_icon.png); position:absolute; bottom:vw(-40); left:vw(470);
						@include backgroundSoltC;
					}
				}
			}
		}
		#qnaImgWrap {height:vw(506);}
		#selectWrap {
			ol {padding:vw(10) 0 0;}
			li {
				padding:vw(20) 0 0;
				&:first-child {padding:0;}
				&:nth-of-type(1) i {background-image:url(../../images/step02/btn_icon01.png);}
				&:nth-of-type(2) i {background-image:url(../../images/step02/btn_icon02.png);}
				&:nth-of-type(3) i {background-image:url(../../images/step02/btn_icon03.png);}
				&:nth-of-type(1) button.active i {background-image:url(../../images/step02/btn_icon01_on.png);}
				&:nth-of-type(2) button.active i {background-image:url(../../images/step02/btn_icon02_on.png);}
				&:nth-of-type(3) button.active i {background-image:url(../../images/step02/btn_icon03_on.png);}
				button {
					width:100%; padding:vw(25) vw(70) vw(25) vw(60); background-color:#f4f4f4; font-weight:500;
					@include borderSet(2px, solid, #ececec);
					@include borderRadius(3vw);
					@include displayFlexCenter(center, left);
					@include transition;
					&:hover,
					&:focus {border-color:#464646;}
					&.active {background-color:#464646; border-color:#464646; color:$white;}
					&[disabled],
					&:disabled {
						background-color:#dfdfdf; border-color:#ececec;
						i {@include opacity(.2)}
						p {color:#ccc;}
					}
				}
				i {
					width:vw(44); height:vw(44); display:block; margin:0 vw(10) 0 0;
					@include backgroundSoltC;
				}
				p {width:vw(450); text-align:center; font-size:vw(36);}
			}
		}
	}
	
	&.step03 {
		.qna_wrap {
			.qna_description {
				.txt_box {
					padding:vw(30) vw(35) vw(30) vw(155);
					@include backgroundSoltC(vw(25), 45%, no-repeat, vw(110) vw(110));
					&:after {
						width:vw(56); height:vw(40); display:block; content:""; background-image:url(../../images/step03/txt_bubble_icon.png); position:absolute; bottom:vw(-40); left:vw(470);
						@include backgroundSoltC;
					}
				}
			}
		}
		#qnaImgWrap {height:vw(506);}
		#selectWrap {
			.caution_open_btn {
				font-size:vw(26); color:#730923; line-height:vw(35); text-decoration:underline; padding:0 0 0 vw(43); background-image:url(../../images/step03/caution_icon.gif); display:inline-block;
				@include backgroundSoltC(0, 50%, no-repeat, auto 100%)
			}
			.select_tit {
				padding:vw(35) 0 0;
				strong {font-size:vw(30); padding:0 vw(10) 0 0;}
				em {color:#b49759; font-size:vw(22); display:inline-block;}
			}
			ol {
				width:100%; padding:vw(10) 0 0;
				@include displayFlexCenter;
			}
			li {
				flex: 1; margin:0 0 0 vw(10);
				&:first-child {margin:0;}
				button {
					width:100%; padding:vw(20) 0; background-color:#f4f4f4; font-weight:500;
					@include borderSet(2px, solid, #ececec);
					@include borderRadius(3vw);
					@include displayFlexCenter(center, left);
					@include transition;
					&:hover,
					&:focus {border-color:#464646;}
					&.active {background-color:#464646; border-color:#464646; color:$white;}
					&[disabled],
					&:disabled {
						background-color:#dfdfdf; border-color:#ececec;
						i {@include opacity(.2)}
						p {color:#ccc;}
					}
				}
				i {display:none;}
				p {
					width:100%; text-align:center; font-size:vw(20); line-height:vw(30);
					em {font-size:vw(30);}
				}
			}
		}
	}
	
	&.step04 {
		background-image:none;
		.qna_wrap {
			padding:0;
			.qna_description01,
			.qna_description02 {padding:vw(30) vw(50) 0;}
			.qna_description {
				.txt_box {
					padding:vw(30) vw(35) vw(30) vw(35);
					&:after {
						width:vw(56); height:vw(40); display:block; content:""; background-image:url(../../images/step04/txt_bubble_icon.png); position:absolute; bottom:vw(-40); left:vw(365);
						@include backgroundSoltC;
					}
				}
			}
		}
		#qnaImgWrap {height:vw(373);}
		#selectWrap {
			padding:vw(20) vw(45) vw(50); background-image:url(../../images/common/bg_gradation.gif); border-top:2px solid #ddd;
			@include backgroundSolt(0, 0, repeat-x);
			ol {padding:vw(10) 0 0;}
			li {
				padding:vw(20) 0 0;
				&:first-child {padding:0;}
				&:nth-of-type(1) i {background-image:url(../../images/step04/btn_icon01.png);}
				&:nth-of-type(2) i {background-image:url(../../images/step04/btn_icon02.png);}
				&:nth-of-type(3) i {background-image:url(../../images/step04/btn_icon03.png);}
				&:nth-of-type(4) i {background-image:url(../../images/step04/btn_icon04.png);}
				&:nth-of-type(5) i {display:none;}
				button {
					width:100%; height:vw(200); padding:0 vw(70) 0 vw(60); background-color:$white; font-weight:500;
					@include borderSet(2px, solid, #ececec);
					@include borderRadius(3vw);
					@include displayFlexCenter(center, left);
					@include transition;
					&:hover,
					&:focus {border-color:#464646;}
					&.active {background-color:#464646; border-color:#464646; color:$white;}
					&[disabled],
					&:disabled {
						background-color:#dfdfdf; border-color:#ececec;
						i {@include opacity(.2)}
						p {color:#ccc;}
					}
				}
				i {
					width:vw(96); height:vw(94); display:block; margin:0 vw(30) 0 0;
					@include backgroundSoltC;
				}
				p {text-align:left; font-size:vw(36); line-height:vw(44);}
			}
		}
	}
	
	&.step05 {
		background-image:none;
		.qna_wrap {
			padding:0;
			.qna_description01,
			.qna_description02 {padding:vw(30) vw(50) 0;}
			.qna_description {
				.txt_box {
					padding:vw(30) vw(35) vw(30) vw(35);
					&:after {
						width:vw(56); height:vw(40); display:block; content:""; background-image:url(../../images/step05/txt_bubble_icon.png); position:absolute; bottom:vw(-40); left:vw(365);
						@include backgroundSoltC;
					}
				}
			}
		}
		#qnaImgWrap {height:vw(373);}
		#selectWrap {
			padding:vw(20) vw(45) vw(50); background-image:url(../../images/common/bg_gradation.gif); border-top:2px solid #ddd;
			@include backgroundSolt(0, 0, repeat-x);
			ol {padding:vw(10) 0 0;}
			li {
				padding:vw(20) 0 0;
				&:first-child {padding:0;}
				&:nth-of-type(1) i {background-image:url(../../images/step05/btn_icon01.png);}
				&:nth-of-type(2) i {background-image:url(../../images/step05/btn_icon02.png);}
				&:nth-of-type(3) i {background-image:url(../../images/step05/btn_icon03.png);}
				button {
					width:100%; height:vw(200); padding:0 vw(70) 0 vw(60); background-color:$white; font-weight:500; position:relative;
					@include borderSet(2px, solid, #ececec);
					@include borderRadius(3vw);
					@include displayFlexCenter(center, left);
					@include transition;
					&:hover,
					&:focus {border-color:#464646;}
					&.active {background-color:#464646; border-color:#464646; color:$white;}
					&[disabled],
					&:disabled {
						background-color:#dfdfdf; border-color:#ececec;
						i {@include opacity(.2)}
						p {color:#ccc;}
						&:after {@include opacity(.2)}
					}
					&:after {
						content:"LG’s pick"; display:none; position:absolute; top:vw(20); right:vw(30); font-size:vw(22);
						padding:vw(13) vw(30); color:$white; background:linear-gradient(to right, #751f8b, #e42165);
						@include borderRadius(vw(30));
						@include boxShadow(0 vw(2) vw(15) vw(-10) $black);
					}
					&.exclusively_badge:after {display:block;}
				}
				i {
					width:vw(92); height:vw(96); display:block; margin:0 vw(30) 0 0;
					@include backgroundSoltC;
				}
				p {text-align:left; font-size:vw(36); line-height:vw(44);}
			}
		}
	}
	
	&.step06 {
		background-image:none;
		.qna_wrap {
			.qna_description {
				.txt_box {
					padding:vw(30) vw(35) vw(30) vw(35);
					&:after {
						width:vw(56); height:vw(40); display:block; content:""; background-image:url(../../images/step05/txt_bubble_icon.png); position:absolute; bottom:vw(-40); left:vw(320);
						@include backgroundSoltC;
					}
				}
			}
		}
		#qnaImgWrap {height:vw(375);}
		#selectWrap {
			padding:vw(20) vw(45) vw(50); background-image:url(../../images/common/bg_gradation.gif); border-top:2px solid #ddd;
			@include backgroundSolt(0, 0, repeat-x);
			ol {padding:vw(10) 0 0;}
			li {
				padding:vw(20) 0 0;
				&:first-child {padding:0;}
				&:nth-of-type(1) i {background-image:url(../../images/step06/btn_icon01.png);}
				&:nth-of-type(2) i {background-image:url(../../images/step06/btn_icon02.png);}
				&:nth-of-type(3) i {background-image:url(../../images/step06/btn_icon03.png);}
				&:nth-of-type(4) i {background-image:url(../../images/step06/btn_icon04.png);}
				&:nth-of-type(5) i {background-image:url(../../images/step06/btn_icon05.png);}
				&:nth-of-type(6) i {background-image:url(../../images/step06/btn_icon06.png);}
				&:nth-of-type(7) i {background-image:url(../../images/step06/btn_icon07.png);}
				button {
					width:100%; height:vw(200); padding:0 vw(70) 0 vw(60); background-color:$white; font-weight:500; position:relative;
					@include borderSet(2px, solid, #ececec);
					@include borderRadius(3vw);
					@include displayFlexCenter(center, left);
					@include transition;
					&:hover,
					&:focus {border-color:#464646;}
					&.active {background-color:#464646; border-color:#464646; color:$white;}
					&[disabled],
					&:disabled {
						background-color:#dfdfdf; border-color:#ececec;
						i {@include opacity(.2)}
						p {color:#ccc;}
						&:after {@include opacity(.2)}
					}
					&:after {
						content:"LG’s pick"; display:none; position:absolute; top:vw(20); right:vw(30); font-size:vw(22);
						padding:vw(13) vw(30); color:$white; background:linear-gradient(to right, #751f8b, #e42165);
						@include borderRadius(vw(30));
						@include boxShadow(0 vw(2) vw(15) vw(-10) $black);
					}
					&.exclusively_badge:after {display:block;}
				}
				i {
					width:vw(92); height:vw(96); display:block; margin:0 vw(40) 0 0;
					@include backgroundSoltC;
				}
				p {text-align:left; font-size:vw(36); line-height:vw(44);}
			}
		}
	}
	
	&.step07 {
		.qna_wrap {
			.qna_description {
				.txt_box {
					padding:vw(30) vw(35) vw(30) vw(35);
					&:after {
						width:vw(56); height:vw(40); display:block; content:""; background-image:url(../../images/step05/txt_bubble_icon.png); position:absolute; bottom:vw(-40); left:vw(320);
						@include backgroundSoltC;
					}
				}
			}
		}
		#qnaImgWrap {height:vw(457);}
		#selectWrap {
			padding:vw(55) vw(45) vw(80);
			@include backgroundSolt(0, 0, repeat-x);
			ol {
				padding:vw(40) 0 0;
				@extend %clearfix;
			}
			li {
				width:25%; float:left;
				&:first-child {padding:0;}
				&:nth-of-type(1) i {background-color:$black;}
				&:nth-of-type(2) i {background-image:url(../../images/step07/btn_icon02.jpg);}
				&:nth-of-type(3) i {background-image:url(../../images/step07/btn_icon03.jpg);}
				&:nth-of-type(4) i {background-color:$white;}
				button {
					width:100%; background-color:$white; font-weight:500; position:relative;
					@include transition;
					&:hover,
					&:focus i {border-width:4px; border-color:$red;}
					&.active i {border-width:4px; border-color:$red;}
					&[disabled],
					&:disabled {
						i {@include opacity(.2)}
						p {color:#ccc;}
					}
				}
				i {
					width:vw(76); height:vw(76); display:inline-block;
					@include backgroundSoltC;
					@include transition;
					@include borderRadius(100%);
					@include borderSet(2px, solid, $white);
					@include boxShadow(2px 5px 15px -7px $black);
				}
				p {height:vw(56); padding:vw(15) 0 0; text-align:center; font-size:vw(24); line-height:vw(28); color:#606060; @include displayFlexCenter;}
			}
		}
	}
	
	.step_move_wrap {
		padding:0 0 vw(36) vw(45);
		@extend %clearfix;
		#backStepBtn {
			width:vw(80); height:vw(80); background-color:#f4f4f4; position:relative; text-indent:-9999px; float:left;
			@include borderRadius(100%);
			@include borderSet(2px, solid, #ececec);
			@include transition;
			&:after {
				width:vw(15); height:vw(15); display:block; content:""; position:absolute; left:50%; top:50%;
				@include borderSet(2px, solid, #646464);
				border-right-width:0; border-top-width:0;
				@include transform(translate(-25%, -50%) rotate(45deg));
				@include transition(border-color, .2s);
			}
			&:hover,
			&:focus {
				background-color:#464646; border-color:#464646;
				&:after {border-color:$white;}
			}
		}
		#nextStepBtn {
			height:vw(80); float:left; margin:0 0 0 vw(20); background-color:#f4f4f4; padding:0 vw(38); color:#cfcfcf; font-size:vw(32);
			@include borderSet(2px, solid, #ececec);
			@include borderRadius(vw(80));
			@include transition;
			i {
				width:vw(15); height:vw(15); display:inline-block;
				@include borderSet(2px, solid, #cfcfcf);
				border-right-width:0; border-top-width:0;
				@include transform(translate(0, vw(-2)) rotate(-135deg));
				@include transition(border-color, .2s);
			}
			&.active {
				background-color:#464646; color:$white; border-color:#464646;
				i {border-color:$white;}
				&:hover,
				&:focus {
					background-color:#f4f4f4; color:#464646;
					i {border-color:#464646;}
				}
			}
		}
		
		#resultBtn {
			height:vw(80); float:right; margin:0 vw(45) 0 vw(20); background-color:#f4f4f4; padding:0 vw(38); color:#cfcfcf; font-size:vw(32); display:none;
			@include borderSet(2px, solid, #ececec);
			@include borderRadius(vw(80));
			@include transition;
			i {
				width:vw(15); height:vw(15); display:inline-block;
				@include borderSet(2px, solid, #cfcfcf);
				border-right-width:0; border-top-width:0;
				@include transform(translate(0, vw(-2)) rotate(-135deg));
				@include transition(border-color, .2s);
			}
			&.active {
				background-color:#464646; color:$white; border-color:#464646;
				i {border-color:$white;}
				&:hover,
				&:focus {
					background-color:#f4f4f4; color:#464646;
					i {border-color:#464646;}
				}
			}
		}
	}
	.show_now_wrap {
		position:fixed; bottom:vw(-220); right:0; z-index:10;
		@include transition;
		&.active {@include translate(0, vw(-220));}
		> img {width:vw(157); position:absolute; bottom:vw(81); right:vw(20);}
		#shopNowBtn {
			width:vw(430); height:vw(116); background:linear-gradient(to right, #ea7902, #fac21e); line-height:vw(130); color:$white; font-size:vw(36); font-family:$bau; text-shadow:1px 1px 1px #686c6c;
			border-top-left-radius:vw(60);
			@include boxShadow(0px 0px vw(20) vw(-7) #ea7902);
			@include transition;
			i {
				width:vw(31); height:vw(27); display:inline-block; background-image:url(../../images/common/show_now_icon.png);
				@include backgroundSoltC;
				@include transition(transform, .2s);
			}
			&:hover,
			&:focus {
				i {@include translate(vw(10), 0);}
			}
		}
	}
}