//Bau Asem
@font-face {
	font-family:Bau Asem;
	font-style:normal;
	font-weight:400;
	src:url(../../fonts/Bau_Asem.eot) format("eot"),
	url(../../fonts/Bau_Asem.woff) format("woff"),
	url(../../fonts/Bau_Asem.ttf) format("truetype"),
	url(../../fonts/Bau_Asem.svg#BauAsem) format("svg");
}



//실제 라이브 할때 LG폰트 삭제
@font-face {
	font-family: LG_Smart;
	font-style: normal;
	font-weight: 500;
	src: url(../../fonts/LG_Smart_SemiBold.woff) format("woff");
}

@font-face {
	font-family: LG_Smart;
	font-style: normal;
	font-weight: 400;
	src: url(../../fonts/LG_Smart_Regular.woff) format("woff");
}










