
/* reset css */
article,aside,footer,header,nav,section { display: block; }
h1 { font-size: 2em; margin: 0.67em 0; }
figcaption,figure,main { display: block; }
figure { margin: 1em 40px; }
hr { box-sizing: content-box; height: 0; overflow: visible; }
pre { font-family: monospace, monospace; font-size: 1em; }
a { background-color: transparent; -webkit-text-decoration-skip: objects; outline: none; }
abbr[title] { border-bottom: none; text-decoration: underline; text-decoration: underline dotted; }
b,strong { font-weight: inherit; }
b,strong { font-weight: bolder; }
code,kbd,samp { font-family: monospace, monospace; font-size: 1em; }
dfn { font-style: italic; }
mark { background-color: #ff0; color: #000; }
small { font-size: 80%; }
audio,video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
img { border-style: none; }
svg:not(:root) { overflow: hidden; }
button,input,optgroup,select,textarea { margin: 0; }
button,input { overflow: visible; }
button,select { text-transform: none; }
button,html[type="button"],[type="reset"],[type="submit"] { -webkit-appearance: button; }
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }
legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }
progress { display: inline-block; vertical-align: baseline; }
textarea { overflow: auto; }
[type="checkbox"],[type="radio"] { box-sizing: border-box; padding: 0; }
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button { height: auto; }
[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }
details,menu { display: block; }
summary { display: list-item; }
canvas { display: inline-block; }
template { display: none; }
[hidden] { display: none; }
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }
ol,ul { list-style: none; }
blockquote,q { quotes: none; }
blockquote:before,blockquote:after,q:before,q:after { content: ""; content: none; }
table { width: 100%; text-align: left; border-collapse: collapse; border-spacing: 0; }



/* 퀵파인더 스타일 */
.appliance_finder { max-width: 750px; margin: 0 auto; border: 2px solid black; height: 500px; display: none; }
.nav ul {display: flex; text-align: center;}
.nav ul li { width:100%; padding:20px 0; }

/* nav active */
.appliance_finder .step-1 .nav li:nth-of-type(1) { background-color: rgb(248, 164, 164); }
.appliance_finder .step-2 .nav li:nth-of-type(2) { background-color: rgb(248, 164, 164); }
.appliance_finder .step-3 .nav li:nth-of-type(3) { background-color: rgb(248, 164, 164); }
.appliance_finder .step-4 .nav li:nth-of-type(4) { background-color: rgb(248, 164, 164); }
.appliance_finder .step-5 .nav li:nth-of-type(5) { background-color: rgb(248, 164, 164); }
.appliance_finder .step-6 .nav li:nth-of-type(6) { background-color: rgb(248, 164, 164); }
.appliance_finder .step-7 .nav li:nth-of-type(7) { background-color: rgb(248, 164, 164); }

/* view */
.view_wrap { position: relative; }
.screen_img  { width: 100%; height: 300px; border:2px solid blue; }
.question_txt  { left: 50%; position: absolute; top: 0; }
/* 선택항목 */
.appliance_finder .answer_wrap  { width: 100%; }
.appliance_finder .answer_wrap .answer_btn.select {background-color: greenyellow;}


#nextBtn.on { background-color: rgb(226, 136, 136); }
#shopNow {display: none;}
#shopNow.on { display: block; }